.footer {
    padding: 50px 0 30px 0;
    background: #fde4e4;
}

.footer_logo img {
    width: calc(100% - 80%) !important;
}

.footer_logo h5 {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 15px !important;
    margin-top: 10px !important;
}

.footer_logo p {
    font-size: 0.9rem;
    color: #333;
    line-height: 28px;
}

.delivery_time-item {
    background: transparent;
}

.delivery_time-item span {
    font-weight: 600;
    font-style: 1rem;
    color: #212245;
}

.delivery_time-item p {
    color: #212245;
    margin-bottom: 0;
}

.footer_title {
    font-size: 1.1rem;
    color: #212245;
    font-weight: 600;
}

.social_links span i {
    background: #df2020;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.copywrite_text {
    font-size: 0.8rem;
    color: #212245;
}


@media only screen and (max-width: 576px) {
    .footer_logo img {
        width: calc(100% - 90%) !important;
    }
}

@media only screen and (max-width: 768px) {
    .footer_logo h5 {
        margin-top: 0 !important;
    }

    .copywrite_text {
        text-align: center;
    }

    .social_links {
        justify-content: center !important;
    }
}

@media only screen and (max-width: 992px) {
    .footer_title {
        font-size: 0.8rem;
    }

    .delivery_time-item span {
        font-size: 0.8rem;
    }

    .delivery_time-item p {
        font-size: 0.7rem;
    }

}