.logo {
    text-align: center;
}

.logo img {
    width: calc(100% - 60%);
}

.logo h5 {
    font-weight: 600;
    font-size: 1rem;
    color: #212245;
}

.menu a {
    font-weight: 600;
    font-style: 1rem;
    color: #212245;
    transition: 0.3s;
}

.menu a:hover {
    color: #df2020;
}

.active {
    color: #df2020 !important;
}

.cart_logo {
    font-size: 1.6rem;
    cursor: pointer;
}

.cart_batch {
    position: absolute;
    font-size: .8rem;
    background: #df2020;
    color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
}

.logout_btn {
    background: #df2020;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    transition: all ease-in-out .3s;
}

.logout_btn:hover {
    background: #e84e4e;
}

.login_btn {
    background: #212245;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    transition: all ease-in-out .3s;
}

.login_btn:hover {
    background: #36386e;
}

.header_shrink {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 5px 5px 15px -5px #fde4e4;
}


@media only screen and (max-width: 768px) {

    .logo img {
        width: calc(100% - 70%);
    }

    .logo h5 {
        font-size: 0.8rem;
    }

}