.google_icon {
    background: #df2020;
    color: #fff;
    padding: 7px 10px 5px;
    border-radius: 50%;
    border: none;
}

.facebook_icon {
    background: #0163d2;
    color: #fff;
    padding: 7px 10px 5px;
    border-radius: 50%;
    border: none;
}